/* navbar menu background */
.top-bar, .top-bar ul {
    background-color: #003578;
}
/* navbar menu background */

/* navbar menu links color */
.top-bar, .top-bar li a {
    
    font-family: Montserrat-SemiBold;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
/* navbar menu links color */
