/* navbar menu background */
.top-bar, .top-bar ul {
    background-color: #003578;
}
/* navbar menu background */

/* navbar menu links color */
.top-bar, .top-bar li a {
    
    font-family: Montserrat-SemiBold;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
/* navbar menu links color */


/*slider center element*/
.orbit-caption {
    width: 41.6%;
    height: 214px;
    margin-bottom: 12.1%;
    padding: 1rem;
    color: #fefefe;
    margin-left: 29.3%;
    margin-right: 29.1%;
    margin-top: 6.4%;
    opacity: 0.95;
    background: #FFFFFF;
}
